﻿@{
    ViewBag.Title = "Xem chi tiết sách";
    Layout = "~/Views/Shared/_LayoutOPAC.cshtml";
}


<div id="search-result">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Chi tiết sách</div>

        <!-- Table -->
        <table class="table">
	        <thead>
		        <tr>
		            <th>#</th>
		            <th>Tác giả</th>
		            <th>Nhan đề đầy đủ</th>
		            <th>Năm</th>
                    <th>Đơn vị</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td><input type="checkbox" /></td>
		            <td>Vũ điệu với người khổng lồ Trung Quốc, Ấn Độ, và nền kinh tế toàn cầu</td>
		            <td><a href="/Home/DetailMore/1">Vũ điệu với người khổng lồ Trung Quốc, Ấn Độ, và nền kinh tế toàn cầu /</a></td>
		            <td>2007</td>
                    <td>Trường ĐH. Khoa Học Tự Nhiên</td>
		        </tr>
	        </tbody>
        </table>
    </div> <!-- End .panel panel-default -->
</div>