﻿@{
    ViewBag.Title = "DetailMore";
    Layout = "~/Views/Shared/_LayoutOPAC.cshtml";
}

<h2>Chi tiết sách</h2>
<div id="detail-book-more">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Tóm lược</a></li>
        <li><a href="#">Chi tiết</a></li>
        <li><a href="#">Marc</a></li>
        <li><a href="#">Dublin Core</a></li>
    </ul>
    <p>Loại tài liệu: </p>
    <p>Mô tả</p>
    <hr />
    <p>Số đăng ký cá biệt</p>
    <p>Tình trạng</p>
    <p>Kho lưu trữ</p>
</div>
