﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!------ Slider_bg ------------>
    <div class="slider_bg">
        <div class="wrap">
	    	<!------ Slider------------>
		  	<div class="slider">
		      	<div class="slider-wrapper theme-default">
		            <div id="slider" class="nivoSlider">
		                <img src="~/Images/slider/banner1.jpg" data-thumb="" alt="" />
		                <img src="~/Images/slider/banner2.jpg" data-thumb="" alt="" />
		                <img src="~/Images/slider/banner3.jpg" data-thumb="" alt="" />
		            </div>
		        </div>
	      	</div>
			<!------End Slider ------------>
			<div class="grids_1_of_3">
				<div class="grid_1_of_3 images_1_of_3">
					  <img src="~/Images/icon1.jpg">
					  <h3>Lorem Ipsum is simply</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <img src="~/Images/icon2.jpg">
					  <h3>Lorem Ipsum is simply</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <img src="~/Images/icon3.jpg">
					  <h3>Lorem Ipsum is simply</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!--main-->
	<div class="main_bg">
		<div class="wrap">
			<div class="main">
				<div class="content">
					<h2>what our customer says</h2>
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
					<p><a href="#"><img src="~/Images/pic1.jpg"></a> Cadipisicing elit,Nam ornare vulputate risus,id volutpat elit porttitor non.In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales. Pellentesque habitant morbi tristique senectus Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales. PellentesqueNam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas Pellentesque habitant morbi tristique senectus et netus et malesuada fames. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Nam ornare vulputate risus,id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non.</p>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="main_btm">
			<div class="wrap">
		 		<div class="main">
					<div class="gallery">
						<h3>Our latest projects</h3>
						<ul>
							<li><a href="~/Images/gallery1.jpg"><img src="~/Images/gallery1.jpg" alt=""></a><a href="#"></a></li>
							<li><a href="~/Images/gallery2.jpg"><img src="~/Images/gallery2.jpg" alt=""></a><a href="#"></a></li>
							<li><a href="~/Images/gallery3.jpg"><img src="~/Images/gallery3.jpg" alt=""></a><a href="#"></a></li>
							<li><a href="~/Images/gallery4.jpg"><img src="~/Images/gallery4.jpg" alt=""></a><a href="#"></a></li>
							<li><a href="~/Images/gallery4.jpg"><img src="~/Images/gallery4.jpg" alt=""></a><a href="#"></a></li>
							<li><a href="~/Images/gallery3.jpg"><img src="~/Images/gallery3.jpg" alt=""></a><a href="#"></a></li>
							<li><a href="~/Images/gallery5.jpg"><img src="~/Images/gallery5.jpg" alt=""></a><a href="#"></a></li>
							<li><a href="~/Images/gallery6.jpg"><img src="~/Images/gallery6.jpg" alt=""></a><a href="#"></a></li>
						</ul>
					</div>
					<script type="text/javascript" src="~/Scripts/jquery.lightbox.js"></script>
				    <link rel="stylesheet" type="text/css" href="~/Images/lightbox.css" media="screen">
				  	<script type="text/javascript">
				  	    $(function () {
				  	        $('.gallery a').lightBox();
				  	    });
				    </script>
					<div class="terminals">
						<h3>Testimonials</h3>
						<p>sed tempor ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt aliqua. Ut enim ad minim veniam,consectetur adipisicing elit,sed do eiusmod tempor incididunt magna aliqua. </p>
						<p>sed tempor Ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt aliqua. Ut enim ad minim veniam,consectetur adipisicing elit,sed do eiusmod tempor incididunt magna aliqua. </p>
						<span><a href="#">- Lorem ipsum</a> USA.</span>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
   </div>