﻿@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_LayoutOPAC.cshtml";
}



<div id="search-result">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Kết quả tra cứu, từ khóa "Kinh tế"</div>

        <!-- Table -->
        <table class="table">
	        <thead>
		        <tr>
		            <th>#</th>
		            <th>Số biểu ghi</th>
		            <th>Đề mục</th>
		            <th>Loại</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td>1</td>
		            <td>1</td>
		            <td><a href="/Home/Detail/1">Ấn độ -- Kinh tế -- Quan hệ quốc tế</a></td>
		            <td>VNSH</td>
		        </tr>
		        <tr>
		            <td>2</td>
		            <td>4</td>
		            <td><a href="">ASEAN -- Điều kiện kinh tế</a></td>
		            <td>VNSH</td>
		        </tr>
		        <tr>
		            <td>3</td>
		            <td>1</td>
		            <td><a href="">Campuchia -- Điều kiện kinh tế -- Thống kê</a></td>
		            <td>VNSH</td>
		        </tr>
		            <tr>
		            <td>4</td>
		            <td>2</td>
		            <td><a href="">Chất thải độc hại -- Xử lý -- Kinh tế</a></td>
		            <td>VNSH</td>
		        </tr>
		            <tr>
		            <td>5</td>
		            <td>1</td>
		            <td><a href="">Châu Á -- Kinh tế thương mại -- Châu Âu -- Lịch sử</a></td>
		            <td>VNSH</td>
		        </tr>
		        <tr>
		            <td>6</td>
		            <td>1</td>
		            <td><a href="">Châu Á -- Điều kiện kinh tế</a></td>
		            <td>VNSH</td>
		        </tr>
	        </tbody>
        </table>
    </div> <!-- End .panel panel-default -->
</div> <!-- End #search-result -->
