﻿@{
    ViewBag.Title = "SearchAdvance";
    Layout = "~/Views/Shared/_LayoutOPAC.cshtml";
}
<div id="search-area">
    <h2>Tra cứu OPAC - Tìm nâng cao</h2>
    <form class="form-horizontal" role="form" method="post" action="/Home/ResultSearch">
        <div class="form-group">
            <label for="txtNhanDe" class="col-sm-2 control-label">Nhan đề</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtNhanDe" placeholder="Nhan đề">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <select class="form-control" id="operator01">
                    <option>AND</option>
                    <option>OR</option>
                    <option>NOT</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtTacGia" class="col-sm-2 control-label">Tác giả</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtTacGia" placeholder="Tác giả">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <select class="form-control" id="operator02">
                    <option>AND</option>
                    <option>OR</option>
                    <option>NOT</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtDeMuc" class="col-sm-2 control-label">Đề mục</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtDeMuc" placeholder="Đề mục">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <select class="form-control" id="operator03">
                    <option>AND</option>
                    <option>OR</option>
                    <option>NOT</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtCoQuanChuQuan" class="col-sm-2 control-label">Cơ quan chủ quản</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtCoQuanChuQuan" placeholder="Cơ quan chủ quản">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-3">
                <select class="form-control" id="operator04">
                    <option>AND</option>
                    <option>OR</option>
                    <option>NOT</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtTTXB" class="col-sm-2 control-label">Thông tin xuất bản</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtTTXB" placeholder="Thông tin xuất bản">
            </div>
        </div>
        <div class="form-group">
            <label for="txtSoDong" class="col-sm-2 control-label">Số dòng/trang</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="txtSoDong" placeholder="Số dòng/trang" value="10">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Tra cứu</button>
            </div>
        </div>
    </form>
</div>