﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutOPAC.cshtml";
}

<div id="search-area">
    <h2>Tra cứu OPAC - Tìm cơ bản</h2>
    <form class="form-horizontal" role="form" method="post" action="/Home/ResultSearch">
        <div class="form-group">
            <label for="txtTuKhoa" class="col-sm-2 control-label">Từ khóa</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtTuKhoa" placeholder="Từ khóa">
            </div>
        </div>
        <div class="form-group">
            <label for="slNhanDe" class="col-sm-2 control-label">Tiêu đề</label>
            <div class="col-sm-3">
                <select class="form-control" id="slNhanDe">
                    <option>Nhan đề</option>
                    <option>Đề mục</option>
                    <option>Tác giả</option>
                    <option>Tất cả</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="slLoai" class="col-sm-2 control-label">Loại</label>
            <div class="col-sm-4">
                <select class="form-control" id="slLoai">
                    <option>Sách</option>
                    <option>Tạp chí</option>
                    <option>Luận văn</option>
                    <option>Công trình nghiên cứu</option>
                    <option>Hội nghị - Báo cáo</option>
                    <option>Tài liệu multimedia</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Tra cứu</button>
            </div>
        </div>
    </form>
</div>

