﻿@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!--main-->
	<div class="main_btm">
		<div class="wrap">
			<div class="main">
				<div class="services">
					<div class="services-header">
						<h3>Services</h3>
						<div class="clear"></div>
					</div>
					<div class="services-grids">
						<div class="services-grid">
							<a href="#">consectetur adiing</a>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.</p>
						</div>
						<div class="services-grid">
							<a href="#">consectetur adiing</a>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.</p>
						</div>
						<div class="services-grid">
							<a href="#">consectetur adiing</a>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.</p>
						</div>
						<div class="services-grid">
							<a href="#">consectetur adiing</a>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.</p>
						</div>
						 <div class="clear"> </div>
					</div>
					
					<div class="specials">
						<div class="specials-heading">
							<h3>Latest-Services</h3>
							<div class="clear"> </div>
						</div>
						<div class="clear"> </div>
						<div class="specials-grids">
							<div class="special-grid">
								<img src="~/Images/pic4.jpg" title="image-name">
								<a href="#">consectetuer</a>
								<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
							</div>
							<div class="special-grid">
								<img src="~/Images/pic3.jpg" title="image-name">
								<a href="#">volutpat luctus eros</a>
								<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
							</div>
							<div class="special-grid spe-grid">
								<img src="~/Images/pic2.jpg" title="image-name">
								<a href="#">Lorem ipsum dolors</a>
								<p>Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
							</div>
							<div class="clear"> </div>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
