﻿@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}


<div class="main_btm">
	<div class="wrap">
		<div class="main">
            <div class="search-main">

                <div id="left-menu">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 200px;">
  	                    <li  class="active"><a href="/Home/Search">Tìm kiếm cơ bản</a></li>
  	                    <li><a href="/Home/SearchDetail">Tìm kiếm chi tiết</a></li>
  	                    <li><a href="/Home/SearchAdvance">Tìm kiếm nâng cao</a></li>
                    </ul>
                </div>

                @RenderBody()

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>