﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Images/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   @{ Html.RenderPartial("~/Views/Shared/_PartialTop.cshtml");}
    <div id="main" class="wrapper">
        <div id="left">
            <ul id="cat">
                <li>
                    <a href="/Book">Biên mục sách</a>
                    <ul>
                        <li><a href="/Book/Create">Thêm mới</a></li>
                        <li><a href="/Book">Tìm kiếm</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Author">Biên mục tác giả</a>
                    <ul>
                        <li><a href="/Author/Create">Thêm mới</a></li>
                        <li><a href="/Author">Tìm kiếm</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Topic">Biên mục đề mục</a>
                    <ul>
                        <li><a href="/Topic/Create">Thêm mới</a></li>
                        <li><a href="/Topic">Tìm kiếm</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Publisher">Biên mục nhà xuất bản</a>
                    <ul>
                        <li><a href="/Publisher/Create">Thêm mới</a></li>
                        <li><a href="/Publisher">Tìm kiếm</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="right">
            <div id="Breadcrumb">
                <span class="parent">Phân hệ biên mục</span>
                <span></span>
                <span>&nbsp;&raquo;&nbsp;@ViewBag.Title</span>
            </div>
            @RenderBody()
        </div>
        <div class="cls"></div>
    </div>
    @{ Html.RenderPartial("~/Views/Shared/_PartialFooter.cshtml");}
</body>
</html>
