﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Images/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{ Html.RenderPartial("~/Views/Shared/_PartialTop.cshtml");}
    <div id="main" class="wrapper">
        <div id="left">
            <ul id="cat">
                <li><a href="/Circulation/CheckOut">Mượn trả sách</a></li>
                <li><a href="/Circulation">Tìm kiếm độc giả</a></li>
                <li><a href="/Circulation/StatisticReader">Thống kê độc giả</a></li>
                <li><a href="/Circulation/StatisticBook">Thống kê sách</a></li>
                <li><a href="/Circulation/Role">Thiết lập qui định mượn trả</a></li>
            </ul>
        </div>
        <div id="right">
            <div id="Breadcrumb">
                <span class="parent">Phân hệ lưu hành</span>
                <span>&nbsp;&raquo;&nbsp;@ViewBag.Title</span>
            </div>
            @RenderBody()
        </div>
        <div class="cls"></div>
    </div>
    @{ Html.RenderPartial("~/Views/Shared/_PartialFooter.cshtml");}
</body>
</html>
