﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Images/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{ Html.RenderPartial("~/Views/Shared/_PartialTop.cshtml");}
    <div id="main" class="wrapper">
        <div id="left">
            <ul id="cat">
                <li>
                    <a href="/Supplier">Quản lý nhà cung cấp</a>
                    <ul>
                        <li><a href="/Supplier/Create">Thêm mới</a></li>
                        <li><a href="/Supplier">Tìm kiếm</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">Quản lý ấn phẩm</a>
                    <ul>
                        <li><a href="/Publication/Create">Thêm mới</a></li>
                        <li><a href="/Publication">Tìm kiếm</a></li>
                    </ul>
                </li>
                <li><a href="/">Quản lý nhãn</a></li>
                <li><a href="/">Quản lý số cá biệt</a></li>
            </ul>
        </div>
        <div id="right">
            <div id="Breadcrumb">
                <span class="parent">Phân hệ bổ sung</span>
                <span>&nbsp;&raquo;&nbsp;@ViewBag.Title</span>
            </div>
            @RenderBody()
        </div>
        <div class="cls"></div>
    </div>
    @{ Html.RenderPartial("~/Views/Shared/_PartialFooter.cshtml");}
</body>
</html>
