﻿@{
    ViewBag.Title = "Thêm mới độc giả";
    Layout = "~/Views/Shared/_LayoutReader.cshtml";
}
<h2>Thêm mới độc giả</h2>
<table>
    <table class="tbl">
        <tr>
            <td><span class="required">*</span>Họ</td>
            <td><input type="text" class="txtavg" /></td>
            <td><span class="required">*</span>Tên</td>
            <td><input type="text" class="txtavg" /></td>
        </tr>
        <tr>
            <td><span class="required">*</span>Giới tính</td>
            <td><select><option>Nữ</option><option>Nam</option></select></td>
            <td><span class="required">*</span>Ngày sinh</td>
            <td><input type="text" class="txtdate" /></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="#">Tải lên hình độc giả</a></td>
            <td>In thẻ</td>
            <td><select><option>In rồi</option><option>Chưa in</option></select></td>
        </tr>
        <tr>
            <td>Ghi chú</td>
            <td colspan="3"><textarea rows="4" cols="70"></textarea></td>
        </tr>
        <tr class="center">
            <td colspan="4">
                <input class="btn" type="submit" value="Lư trữ" />
                <input class="btn" type="reset" value="Nhập lại" />
                <input class="btn" type="submit" value="Xóa" />
            </td>
        </tr>
    </table>
</table>
