﻿@{
    ViewBag.Title = "Tìm kiếm độc giả";
    Layout = "~/Views/Shared/_LayoutReader.cshtml";
}
<h2>Tìm kiếm</h2>
<table class="table">
    <tr><th>Họ tên</th><th>MSSV</th><th>Tên đăng nhập</th><th>Điện thoại</th><th>Ngày sinh</th><th>Giới tính</th><th>Khoa</th><th>Edit</th><th>Delete</th></tr>
    <tr>
        <td>Nguyễn Phan chí Thành</td>
        <td>1112292</td>
        <td>1112292</td>
        <td>0977779888</td>
        <td>23/05/1700</td>
        <td>Nam</td>
        <td>CNTT</td>
        <td><a href="#"><img src="/Images/Edit.gif" alt="Edit" /></a></td>
        <td><a href="#"><img src="/Images/Delete.gif" alt="Edit" /></a></td>
    </tr>
</table>